{{ define "body" }}
    <section class="section">
        <div class="container">
            {{ block "guessInput" .}}{{ end }}
            <turbo-frame id="guessOutput">
                {{ block "guessOutput" .}}{{ end }}
            </turbo-frame>
        </div>
    </section>

{{ end }}