{{ define "guessInput" }}
<div id="guess-input">
  <form action="/{{ or .Game.Id "new" }}" method="post">
    <input aria-label="Your Guess" id="guess" type="text" name="guessNumber" size="4" maxlength="4" placeholder="1234"/>
    <button type="submit">Guess!</button>
  </form>
</div>
{{ end }}